.quasar-utilities-settings-btn-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	width: 46px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	-webkit-app-region: no-drag;
	app-region: no-drag;
}

.quasar-utilities-settings-btn-wrapper:hover {
	background-color: var(--background-modifier-hover);
}

.quasar-utilities-settings-btn-wrapper svg {
	width: 16px;
	height: 16px;
}

.quasar-utilities-settings-list {
	border-top: 1px solid var(--background-modifier-border);
	margin-top: 0.75em;
	padding-top: 0.75em;
}

.quasar-utilities-settings-list > .setting-item {
	border-top: none !important;
}
